.main-base-container(layout='row')
  md-sidenav.main-sidenav.md-sidenav-left(md-component-id='mainSidenav', md-is-locked-open="$mdMedia('gt-md')", md-whiteframe='4')
    md-content(layout-padding='', layout='column')
      .main-sidenav-logo-container(layout='column', layout-align='center center')
        .main-sidenav-logo
          img(src='assets/img/nexa-logo.png', alt='Actonate', layout-align='center stretch')
      .main-sidenav-menu
        md-list
          md-list-item(href='', md-ripple='', layout='row', layout-align='start center', ui-sref-active='md-list-item-active', ui-sref='app.main.dashboard')
            md-icon
              i.material-icons 	equalizer
            a.md-list-item-text
              h3 	Dashboard
          md-list-item(href='', md-ripple='', layout='row', layout-align='start center', ui-sref-active='md-list-item-active', ui-sref='app.main.admins')
            md-icon
              i.material-icons 	supervisor_account
            a.md-list-item-text
              h3 	Admins
          md-list-item(href='', md-ripple='', layout='row', layout-align='start center', ui-sref-active='md-list-item-active', ui-sref='app.main.makers')
            md-icon
              i.material-icons 	build
            a.md-list-item-text
              h3 	Makers
          md-list-item(href='', md-ripple='', layout='row', layout-align='start center', ui-sref-active='md-list-item-active', ui-sref='app.main.cars')
            md-icon
              i.material-icons 	directions_car
            a.md-list-item-text
              h3 	Cars
          md-list-item(href='', md-ripple='', layout='row', layout-align='start center', ui-sref-active='md-list-item-active', ui-sref='app.main.dealers')
            md-icon
              i.material-icons 	local_taxi
            a.md-list-item-text
              h3 	Dealers
  .main-container(flex='grow', layout='column')
    md-toolbar.main-toolbar-container.md-primary
      .md-toolbar-tools.header-background
        md-button.md-icon-button(aria-label='Menu', ng-disabled="$mdMedia('gt-md')", ng-click='ViewModel.toggleSidenav()')
          i.material-icons 	menu
        h2(flex='', md-truncate='') 	{{pageTitle}}
        md-menu(md-position-mode='target-right target')
          md-button.md-icon-button(aria-label='Open demo menu', ng-click='$mdMenu.open($event)')
            md-icon(md-menu-origin='')
              i.material-icons 	more_vert
          md-menu-content(width='4')
            md-menu-item
              md-button(ng-click='ViewModel.logoutUser()') 	Logout
    .main-content-container(layout='column', ui-view='', ng-class="{'active': isActive}")
