md-grid-list(md-cols='5', md-gutter='1em', md-row-height='160px')
  md-grid-tile(style='')
    md-card._md.md-default-theme.dashboard-count-card
      md-card-title
        md-card-title-media
          .md-media-sm.card-media.layout-row(layout='')
            md-icon.material-icons
              i.material-icons supervisor_account
        md-card-title-text(style='text-align: center;')
          span.md-display-2.ng-binding(ng-bind='ViewModel.admins_count')
          span.md-subhead.description Admins
  md-grid-tile(style='')
    md-card._md.md-default-theme.dashboard-count-card
      md-card-title
        md-card-title-media
          .md-media-sm.card-media.layout-row(layout='')
            md-icon.material-icons
              i.material-icons 	build
        md-card-title-text(style='text-align: center;')
          span.md-display-2.ng-binding(ng-bind='ViewModel.makers_count')
          span.md-subhead.description Makers
  md-grid-tile(style='')
    md-card._md.md-default-theme.dashboard-count-card
      md-card-title
        md-card-title-media
          .md-media-sm.card-media.layout-row(layout='')
            md-icon.material-icons
              i.material-icons 	directions_car
        md-card-title-text(style='text-align: center;')
          span.md-display-2.ng-binding(ng-bind='ViewModel.cars_count')
          span.md-subhead.description Cars
  md-grid-tile(style='')
    md-card._md.md-default-theme.dashboard-count-card
      md-card-title
        md-card-title-media
          .md-media-sm.card-media.layout-row(layout='')
            md-icon.material-icons
              i.material-icons 	local_taxi
        md-card-title-text(style='text-align: center;')
          span.md-display-2.ng-binding(ng-bind='ViewModel.dealers_count')
          span.md-subhead.description Dealers
