md-dialog.main-dialog-user(layout='column',style='width: 45%;')
  .main-dialog-header(layout='row')
    h3.main-dialog-title  Dealer Details
  .main-column(layout='column')
    form#users(name='dealers')
      .main-dialog-content(flex='grow', layout='column')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Name
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.name', required='required')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Email
              input(type='email', size='20', name='name', ng-model='ViewModel.dealer.email', required='required', ng-pattern='/^[a-z]+[a-z0-9._]+@[a-z]+.[a-z.]{2,5}$/')
          .user-b
            md-input-container
              label   Mobile
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.mobile', required='required')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Line 1
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.line1', required='required')
          .user-b
            md-input-container
              label  Line 2
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.line2')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Landmark
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.landmark', required='required')
          .user-b
            md-input-container
              label  Pincode
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.pincode', required='required', 'maxlength'='6')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   City
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.city', required='required')
          .user-b
            md-input-container
              label  State
              input(type='text', size='20', name='name', ng-model='ViewModel.dealer.address.state', required='required')
  .main-dialog-footer(layout='row', layout-align='space-between center')
    .main-dialog-footer-actions
      md-button(ng-click='ViewModel.closeDialog()')   Close
    .main-dialog-footer-actions(ng-show='!ViewModel.dealer.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.add(ViewModel.dealer)')   Submit
    .main-dialog-footer-actions(ng-show='ViewModel.dealer.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.update(ViewModel.dealer)')   update
