/**
 * Less for act.Auth
 */

.auth-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.auth-page-container {

	.auth-page-card.card-1 {
		min-width: 360px;
	}
	.auth-page-logo-container {
		padding: @app-padding-6 0;
		height: 125px;

		img {
			height: 32px;
		}
	}

	.auth-form-container {
		border-top: 1px solid @app-grey-5;
		padding: @app-padding-6;

		.md-primary.md-button.md-raised {
            background-color: @app-primary-color-5;
        }
         .md-primary.md-button.md-raised:hover {
            background-color: @app-primary-color-2;
        }

	}
}
.auth-page-footer {
	padding: @app-padding-6;

	.auth-page-links {
		padding: @app-padding-3;

		a {
			color: @app-blue-3;
			font-size: @font-size-normal;
		}
	}
	.auth-page-copyright {
		color: @app-black-8;
	}
}
