/**
 * Less for act.Base
 */
.base-container {
	background-color: @app-grey-8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.drop-box {
    padding: 90px;
    border: 1px dashed @app-primary-color-5;
    width: 400px;
    text-align: center;
    color: @app-primary-color-2;
}
.dragover {
    border: 2px dashed @app-secondary-color-10;
}
