// .dashboard {
//
//   .main-dashboard-content-container {
//       max-width: 1080px;
//       width: 100%;
//
//     .main-orders-card {
//       margin: 5px;
//        .main-orders-search-config {
//          md-select {
//            margin: 0;
//          }
//        }
//     }
//     .main-filter {
//        padding: @app-padding-4;
//        margin: 10px 5px;
//     }
//     .main-orders-header-config {
//       .main-orders-level-container {
//         height: 100px;
//         border-left: 1px @app-grey-5 solid;
//
//         .addTitle {
//           font-size: 28px;
//
//         }
//         .addCount {
//             font-size: 20px;
//             padding: @app-padding-2;
//             h6 {
//                 color: @app-black-8;
//           }
//         }
//       }
//     } // .main-orders-header-config
//     .main-orders-card.card-1.stk-main-home-card-container {
//       min-height: 300px;
//       .stk-main-home-card {
//
//         .stk-main-home-card-header {
//           border-bottom: 1px #e1e1e1 solid;
//           .stk-main-home-card-title h5 {
//             text-transform: uppercase;
//             color: #9e9e9e;
//             font-size: 13px;
//              padding: 15px;
//           }
//         }
//         .stk-main-home-chart-container {
//           width: 100%;
//           padding: @app-padding-6 @app-padding-6 @app-padding-4;
//            .stk-main-home-chart {
//               display: block;
//               width: 100%;
//               max-width: 100%;
//           }
//        }
//      }
//    } // .main-orders-card.card-2.stk-main-home-card-container
// } // main.deshbo
// } // .desh
.dashboard-count-card {
    width: 80%;
}
