/**
 * Less for act.Main
 */
.main-content-container {
    overflow: auto;
}
.main-base-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.main-content-container{
		overflow: auto;
	}

}
.main-sidenav {
	md-content {
		padding: 0;
	}

	.main-sidenav-logo-container {
		padding: @app-padding-4 0;
		border-bottom: 1px solid @app-grey-5;

		.main-sidenav-logo {
			// height: 42px;
            width: 50%;
			img {
				height: 100%;
				width: 100%;
			}
		}

	}

	.main-sidenav-menu {
		padding: 0;

		md-list-item {
			&:hover {
				background-color: @app-grey-7;
			}
		}
		md-icon {
			margin-left: 10px;
		}
	}
}
.main-toolbar-container {
	.md-icon-button {
		i {
			color: @white;
		}
	}
}
.header-background{
    background-color: @app-primary-color-5;
}

/*...................................*/



// Main Uploader
.main-uploader {
	padding: @app-padding-4 @app-padding-2;

	.main-uploader-label {
		padding-bottom: @app-padding-6;
		color: @app-black-7;
	}

	.main-uploader-dropzone {
		background-color: @app-grey-7;
		border: 4px @app-grey-5 dashed;
		color: @app-black-7;
		font-size: @font-size-xlarge;
		min-height: 200px;

		&.dragover {
			border-color: @app-primary-color-6;
			background-color: @app-primary-color-9;
			color: @app-primary-color-5;
		}
	}

	.main-uploader-thumbnail {
		img {
			min-height: 175px;
			width: 150%;
			border: 1px @app-grey-6 solid;
		}
	}

	.main-uploader-remove {
		padding-top: @app-padding-6;
	}
}
.md-list-item-active {
    background-color: @app-primary-color-6;

    .md-list-item-text {
        color: @white;
    }
    .material-icons {
        color: @white;
    }
}
