.user-b{
	md-input-container{
		width: 100%;
	}
	padding-left: 10px;
	padding-right:10px;
	width: 100%;
}
.main-dialog-contact{
	.user-select{
    	md-select{
    		width:100%;
    	}
    }
}
.user-select{
 	padding-left: 10px;
 	padding-right: 10px;
 	width: 100%;
}
.main-dialog-user{
 	.main-column{
 		padding: @app-padding-6;
 		padding-top: @app-padding-4;
 	}
    .main-dialog-header{
        background-color: @app-primary-color-5;
 		padding: @app-padding-6;
        h3 {
            color: @white;
        }
 	}
 	.main-dialog-footer{
 		padding: 10px;
        border-top: 1px @app-grey-8 solid;
 	}
}

.md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-colo: @app-primary-color-5;
}
