md-dialog.main-dialog-user(layout='column')
  .main-dialog-header(layout='row')
    h3.main-dialog-title  Maker Details
  .main-column(layout='column')
    form#users(name='users')
      .main-dialog-content(flex='grow', layout='column')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Name
              input(type='text', size='20', name='name', ng-model='ViewModel.maker.name', required='required')
      .main-dialog-c(layout='column', style='align-items: center;padding-bottom: 10px;')
        img(ngf-src='ViewModel.photo', style='height: 150px; width: 150px;')
      div(layout='column')
        .main-dialog-footer-actions(ng-show='ViewModel.maker.id')
          md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.updatePhoto(ViewModel.maker)')   change picture
      .main-dialog-c(layout='column')
        .main-dialog-contact(layout='row')
          .user-b(layout='row')
            .drop-box(ngf-drop='', ngf-select='', ng-model='ViewModel.photo', ngf-drag-over-class="'dragover'", ngf-multiple='false', ngf-allow-dir='false', accept='image/*', ngf-pattern="'image/*'") Drop Images here...
            div(ngf-no-file-drop='') File Drag/Drop is not supported for this browser
  .main-dialog-footer(layout='row', layout-align='space-between center')
    .main-dialog-footer-actions
      md-button(ng-click='ViewModel.closeDialog()')   Close
    .main-dialog-footer-actions(ng-show='!ViewModel.maker.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.add(ViewModel.maker)')   Submit
    .main-dialog-footer-actions(ng-show='ViewModel.maker.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.update(ViewModel.maker)')   update
