.main-content.main-content-table.card-1(flex='1', ng-init='ViewModel.getCars()')
  md-table-container
    table(md-table='', md-row-select='', multiple='', ng-model='ViewModel.selected', md-progress='ViewModel.loadPromise')
      thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
        tr(md-row='')
          th(md-column='')
            span #
          th(md-column='') Name
          th(md-column='') Status
          th(md-column='') Actions
      tbody(md-body='')
        tr(md-row='', md-select='car', md-select-id='id', md-auto-select='', ng-repeat='car in ViewModel.cars')
          td(md-cell='') {{$index + 1}}
          td(md-cell='') {{car.car_name}}
          td(md-cell='', ng-show='car.isActive') Active
          td(md-cell='', ng-show='!car.isActive') Deactive
          td(md-cell='')
            md-menu(md-position-mode='target-left target')
              md-button.md-icon-button(aria-label='Open demo menu', ng-click='$mdMenu.open($event)')
                md-icon(md-menu-origin='')
                  i.material-icons   more_vert
              md-menu-content(width='2')
                md-menu-item
                  md-button(ng-click='ViewModel.showUpdateDialog($event,car)')
                    md-tooltip(md-direction='top') Edit
                    md-icon(md-menu-origin='')
                      i.material-icons edit
                    | Edit
                md-menu-item(ng-show='!car.isActive')
                  md-button(ng-click='ViewModel.toggleActiveMaker(car.id,1)')
                    md-tooltip(md-direction='top') Activate
                    md-icon(md-menu-origin='')
                      i.material-icons add
                    | Activate
                md-menu-item(ng-show='car.isActive')
                  md-button(ng-click='ViewModel.toggleActiveMaker(car.id,0)')
                    md-tooltip(md-direction='top') Deactivate
                    md-icon(md-menu-origin='')
                      i.material-icons delete
                    | Deactivate
  .main-fab-container
    md-button.md-fab.md-primary.md-fab-bottom-right(ng-click='ViewModel.showAddDialog($event)')
      md-icon
        i.material-icons add
