md-dialog.main-dialog-user(layout='column')
  .main-dialog-header(layout='row')
    h3.main-dialog-title  Admin Details
  .main-column(layout='column')
    form#users(name='users')
      .main-dialog-content(flex='grow', layout='column')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   Firstname
              input(type='text', size='20', name='name', ng-model='ViewModel.user.firstname', required='required')
          .user-b
            md-input-container
              label   Lastname
              input(type='text', size='20', name='name', ng-model='ViewModel.user.lastname', required='required')
      .main-dialog-c(layout='column')
        .main-dialog-contact(layout='row')
          .user-b(layout='row')
            md-input-container.email
              label   E-mail/Username
              input(type='email', size='20', name='name', ng-model='ViewModel.user.username', required='required', ng-pattern='/^[a-z]+[a-z0-9._]+@[a-z]+.[a-z.]{2,5}$/')
          .user-b(ng-if='ViewModel.user.id === undefined')
            md-input-container.email
              label   Password
              input(type='password', size='20', name='name', ng-model='ViewModel.user.password', required='required')
  .main-dialog-footer(layout='row', layout-align='space-between center')
    .main-dialog-footer-actions
      md-button(ng-click='ViewModel.closeDialog()')   Close
    .main-dialog-footer-actions(ng-show='!ViewModel.user.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.add(ViewModel.user)')   Submit
    .main-dialog-footer-actions(ng-show='ViewModel.user.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.update(ViewModel.user)')   update
