md-dialog.main-dialog-user(layout='column')
  .main-dialog-header(layout='row')
    h3.main-dialog-title  Change Password
  .main-column(layout='column')
    form#users(name='users')
      .main-dialog-content(flex='grow', layout='column')
        .main-dailog-name(layout='row')
          .user-b
            md-input-container
              label   New Password
              input(type='password', size='20', name='name', ng-model='ViewModel.obj.npassword', required='required')
        .main-dialog-c(layout='column')
          .main-dialog-contact(layout='row')
            .user-b(layout='row')
              md-input-container.email
                label   Retype New Password
                input(type='password', size='20', name='name', ng-model='ViewModel.obj.rpassword', required='required')
  .main-dialog-footer(layout='row', layout-align='space-between center')
    .main-dialog-footer-actions
      md-button(ng-click='ViewModel.closeDialog()')   Close
    .main-dialog-footer-actions(ng-show='ViewModel.user.id')
      md-button.md-raised(ng-disabled='users.$invalid', ng-click='ViewModel.changePassword()')   update
